body{
	margin:0;
	padding:0;
	background-color:lightblue;
	background-size:cover;
	background-position:center;
	font-family:sans-serif;

}
.slide input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	background:#fb2525;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
.slide input[type="submit"]:hover{
	cursor:pointer;
	background:#ffc107
	color:#000;
	
}